*{
    margin:0;
    padding:0;
}

li{
    list-style-type:none;
}

.headerWrapper{
    background-color:black;
}

.servWrapper {
    background-color: #1cb88b;
    display: flex;
    height: 150px;
    padding-top: 15px;
}

.serv-info__text-block{
    width:500px;
    position:relative;
}

.serv-info__text{
    position:absolute;
    left:15%;
    top:5%;
}

.serv-info__text p{
    color:white;
    font-family:sans-serif;
    font-size:30px;
    font-weight:bold;
    margin:1px 0;
}

.serv-info__text span{
    display:block;
    width:175px;
    height:3px;
    margin-top:5px;
    background-color:white;
}

.serv-list__item span {
    display: block;
    height: 50px;
    min-width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #1cb88b;
}

.serv-list__item img{
    width:20px;
    height:auto;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.serv-list__item-text p{
    font-size: 8px;
    color:white;
    font-family:sans-serif;
}
.serv-list__item-text h1 {
    font-size: 12px;
    font-weight:bold;
    color: white;
    font-family:sans-serif;
    margin-bottom:10px;
}

.serv-info__list{
    display:flex;
    flex-wrap:wrap;
}
.serv-list__item{
    width:50%;
    display:flex;
}
.serv-list__item-text {
    position:relative;
    left:10px;
}

.servMenu__list{
    display:flex;
    justify-content:space-around;
    margin:15px 0;
}
.servMenu__item{
    margin:15px 0;
}
.servMenu__item img{
    width:75%;
    height:auto;
}

@media screen and (max-width:750px){
    .servWrapper {
    flex-wrap:wrap;
    height:350px;
    justify-content:center;
    }
}
@media screen and (max-width:430px) {
    .servWrapper {
        flex-wrap: wrap;
        height: 500px;
        justify-content: center;
    }
    .serv-info__list{
        position:relative;
        left:25px;
    }
    .serv-list__item{
        width:100%;
    }
}